body{
    /* background-color: bisque; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.box{
    font-size: 50px;
    border: 2px solid black;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    width: 700px;
    height: 90px;
    align-items: center;
    justify-content: center;
}
.btn{
    font-size: 30px;
    display: flex;
    align-items: center;
    background-color: wheat;
    margin-bottom: 20px;
    justify-content: center;
    border: 2px solid black;
    width: 200px;
    border-radius: 10px;
}
.blank{
    border: 2px solid black;
    background-color: beige;
    border-radius: 10px;
    width: 500px;
    height: 50px;
}
.main-box{
    display: flex;
    /* background-color: aliceblue; */
    /* background-color: bisque; */
    border: 2px solid black;
    border-radius: 5px;
    width: 700px;
    height: 760px;
    align-items: center;
    justify-content: center;
    position: absolute;
}
